@import "../defines";

.tagBubble {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.tag {
  margin-top: 0 !important;
  margin-left: 0.4rem !important;
  color: rgba(0, 0, 0, 0.8) !important;
  border: 1px solid #e3eaf2 !important;
  font-size: 14px !important;

  &:hover {
    background: transparent !important;
  }
}

.colorTile {
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  border-radius: 2px;
  margin-top: -2px;
}

.close {
  cursor: pointer !important;

  svg {
    fill: $primary-color !important;
  }
}