@import "~@bit/kubric.components.styles.commons/styles/colors";

$primary-color: rgb(41, 20, 107);
$primary-color70: rgba(41, 20, 107, .7);
$primary-color50: rgba(41, 20, 107, .5);
$primary-color10: rgba(41, 20, 107, .1);
$primary-color08: rgba(41, 20, 107, .08);
$pale-gray: #dee7f0;

