.icon {
	border-radius: 50%;
	width: 2.5rem;
	height: 2.5rem;
	text-align: center;
	text-transform: uppercase;
	margin-right: 0.3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tick {
	height: 1.2rem;
	width: 1.2rem;
	margin-top: 0.2rem;
}
