// typography
$font-size-html: 10px;

$font-size-heading-h1: 4.5rem;
$font-size-heading-h2: 4rem;
$font-size-heading-h3: 3.6rem;

$font-size-text-t1: 2.2rem;
$font-size-text-t2: 2rem;
$font-size-text-t3: 1.8rem;
$font-size-text-t4: 1.6rem;
$font-size-text-t5: 1.2rem;

$font-weight-regular: normal;
$font-weight-bold: 600;

// colors
$dark-gray-1: #111;
$dark-gray-2: #201442;
$dark-gray-3: #555;
$gray: #767676;

$brand-pink: #ed3b82;

$white: #fff;
$near-white: #fefefe;

$border-color-gray: #d5dbdb;
$border-color-blue: #5f84e9;
