@import "~@bit/kubric.components.styles.commons/styles/defines";

$initial-pos: -3rem;
$final-pos: 0rem;
$work-sans: "Work Sans", sans-serif;

@keyframes slide {
  0% {
    top: $initial-pos;
  }
  100% {
    top: $final-pos;
  }
}

@keyframes retract {
  0% {
    top: $final-pos;
  }
  100% {
    top: $initial-pos;
  }
}

.notifier {
  position: fixed;
  top: $initial-pos;
  right: 0;
  left: 0;
  z-index: 1000;
  animation-name: slide;
  animation-duration: .5s;
  animation-timing-function: linear;
  font-family: $work-sans;
  font-weight: 300;
  &.done {
    top: $final-pos;
  }
  &.retract {
    animation-name: retract;
    animation-duration: .5s;
    animation-timing-function: linear;
  }
  .alert {
    color: white;
    padding: 1.5rem;
    border: 0;
    .close {
      right: 0;
      cursor: pointer;
    }
    &.alert-info {
      background: $notifier-info;
    }
    &.alert-error {
      background: $notifier-error;
    }
  }
}