@import "~@bit/kubric.components.styles.commons/styles/colors";

$panel-theme-color: $primary-color;
$panel-label-color: $input-label;
$panel-button-hover: $primary-color10;

.panel {
  &:hover {
    .label {
      color: $panel-theme-color;
    }
  }
}

.addImage {
  width: 9rem;
  height: 9rem;
  line-height: 9rem;
  text-align: center;
  background: white;
  border: 1px solid $panel-theme-color;
  color: $panel-theme-color;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background: $panel-button-hover;
  }
}

.label {
  margin-bottom: 1rem;
  color: $panel-label-color;
  display: inline-block;
}