@import "~@bit/kubric.components.styles.commons/styles/defines";
@import "~@bit/kubric.components.styles.commons/styles/colors";
@import "~@bit/kubric.components.styles.commons/styles/mixins";
@import "../defines";

$image-height: 12rem;
$image-width: (($image-height/9) * 15) - 2;
$image-border: .3rem;
$canvas-size: 70vh;

.canvasPlayer {
  @include centralize();
  flex-direction: column;
  height: $canvas-size;
  width: $canvas-size;
  position: relative;
  background: black;
}

.thumbContainer {
  @include centralize();
  height: 100%;
  width: 100%;
}

.preview {
  &.fitWidth {
    width: 100%;
  }

  &.fitHeight {
    height: 100%;
  }
}

.overlayIcon {
  height: 5rem;
  width: 5rem;
}

.playerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;

  .hoverOverlay {
    visibility: hidden;
  }

  &:hover {
    .hoverOverlay {
      visibility: visible;
    }
  }
}

.vertical {
  display: flex;
  flex-direction: row-reverse;
  width: 75%;
  justify-content: center;
  align-items: flex-start;

  .carousel {
    overflow: auto;
    height: 100%;
    width: $image-width + (2 * $image-border);
  }

  .canvasPlayer {
    &.nocontrols {
      max-height: 100%;
    }
  }

  .shotImage {
    margin: 2rem 0;

    &:first-child {
      margin-top: 0;
    }
  }
}

.shotImage {
  height: auto !important;
  margin: 0 1rem;
  border: $image-border solid transparent;
  box-sizing: content-box;
  display: block;
  width: 15rem !important;

  &.selected {
    border-color: $primary-color;
  }
}

.templatePreview {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  canvas {
    max-width: calc(100% - 8rem);
    max-height: 70vh;
    -webkit-box-shadow: 6px 9px 28px -12px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 6px 9px 28px -12px rgba(0, 0, 0, 0.54);
    box-shadow: 6px 9px 28px -12px rgba(0, 0, 0, 0.54);
    margin: 4rem;
    height: unset !important;
  }
}
