@import "~@bit/kubric.components.styles.commons/styles/colors";

.status {
  border: 5px solid $border-color;
  border-radius: 5px;

  &.connected {
    border-color: $connected-color;
  }
}

.teamPending {
  font-size: 1.3rem;
  color: #525252;
}

.head {
  color: #505050;
  font-size: 15px;
  font-weight: 400;
}

.accordionHeader {
  border: 1px solid #dee7f0 !important;
}

.purpleButton {
  align-self: center;
  margin-left: auto;
  border-radius: 8px !important;
  background-color: #ffffff !important;
  color: #29146b !important;
  padding: 0rem 1.5rem !important;
  border: 1px solid #dee7f0 !important;
  margin: 0;
  text-transform: none !important;
  font-size: 1.3rem !important;
  width: 120px;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.spinner {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  text-align: center;
}

.teamsContainer {
  width: 75%;
}

.owner {
  color: #29146b;
}

.team {
  background: #fff;
  padding: 1rem 1.5rem;
  border: 1px solid #dee7f0;
  margin-top: 1rem;
}

.tag {
  color: #000000 !important;
  font-size: 13px !important;
  border: 1px solid #dee7f0 !important;
}

.container {
  border: 1px solid #dee7f0;
  background: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: 0;
}

.accordionSection {
  margin-bottom: 1rem;
}

.accordion {
  background: transparent !important;
}

.delete {
  cursor: pointer;
  float: right;
  margin-top: -16px;
  color: #29146b;
  margin-left: 1rem;
  margin-right: 0.5rem;

  &:hover {
    opacity: 0.7;
  }
}

.icon {
  width: 8rem;
  height: 4rem;
  background-position: center;
}

.details {
  width: 80%;
}

.name {
  font-weight: 500;
  color: black;
}

.desc {
  color: $secondary-text;
  font-size: 1.2rem;
}

.header {
  display: flex;
  align-items: center;
  padding: .5rem 0;
  border: 1px solid #dee7f0;
  cursor: pointer;

  &:last-child {
    border: 0;
  }
}

.accordion {
  margin-top: 1rem;

  .triangle {
    top: 3rem !important;
  }
}